
$width: 600px;
$height: 400px;


#matrix {
  margin: 0 auto;
  width: $width;
  height: $height;
}

#risk-matrix {
  width: $width;
  height: $height;

  border: 1px solid #ddd;
}

.circle {
  r: 4;
  stroke: black;
  stroke-width: 1;
  fill: red;
}


